In [22]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [ ]:
#Make request from web page

In [42]:
url = 'https://www.worldometers.info/coronavirus/#countries'

In [43]:
html_page = requests.get(url).text

In [44]:
soup = BeautifulSoup(html_page,'lxml')

In [50]:
get_table = soup.find("table",id = "main_table_countries_today")
get_table_data = get_table.tbody.find_all("tr")

In [60]:
dic = {}

for i in range(len(get_table_data)):
    try:
        key = get_table_data[i].find_all("a", href = True)[0].string
    except:
        key = get_table_data[i].find_all("td")[0].string
        
    values = [j.string for j in get_table_data[i].find_all('td')]
    
    dic[key] = values
    
column_names = ["TotalCases", "New Cases", "TotalDeaths", "NewDeaths", "TotalRecovered", "NewRecovered", "ActiveCases", "Serious Critical", 
                "Tot Cases/1M pop", "Tot Deaths/1M pop"]
    
df = pd.DataFrame(dic).iloc[1:,:].T.iloc[:,:10]

df.index_name = "country"

df.columns = column_names

In [61]:
df.head()

,TotalCases,New Cases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,Serious Critical,Tot Cases/1M pop,Tot Deaths/1M pop
None,World,"690,976,653","+1,475","6,896,040",+6,"663,623,403","+25,261","20,457,210","37,311","88,646"
USA,USA,"107,321,664",None,"1,168,197",None,"105,471,878",None,"681,589",782,"320,550"
India,India,"44,994,281",None,"531,907",None,"44,460,884",None,"1,490",N/A,"31,987"
France,France,"40,138,560",None,"167,642",None,"39,946,275",+332,"24,643",869,"612,013"
Germany,Germany,"38,428,685",None,"174,352",None,"38,240,600",None,"13,733",N/A,"458,119"